#buttons {
  display: grid;
  grid-template-columns: auto auto auto;

  border-bottom: 0.1em solid rgb(76, 76, 74);
  margin-top: 1.5em;
}

.button {
  padding: 0.5em;
  margin: 0.5em;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.button:hover,
.clickedButton {
  cursor: pointer;
  border-radius: 0.1em;
  background: rgb(76, 76, 74);
}

#biggestTitle {
  text-align: left;
  font-size: 3.5em;

  margin-top: 0.5em;
  margin-bottom: -0.3em;
}

#smallerTitle {
  font-size: 3em;
  margin-left: 0.5em;
}

.trendingContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  width: 100%;
  margin-top: -8em;
  overflow-x: scroll;
  overflow-y: hidden;
}

.trendingContent::-webkit-scrollbar {
  width: 0.8em;
}

.trendingContent::-webkit-scrollbar-track {
  background-color: rgb(7, 7, 7);
  border-radius: 0.5em;
}

.trendingContent::-webkit-scrollbar-thumb {
  background-color: rgb(234, 232, 233);
  border-radius: 0.5em;
}

.trend {
  display: block;

  margin: 8em 1em 0em 1em;
  background-color: rgb(47, 46, 46);
  border-top-left-radius: 1.3em;
  border-top-right-radius: 1.3em;
}

.trend {
  height: 36em;
}

.trend:hover {
  background: rgb(76, 76, 74);
  cursor: pointer;
}

.poster {
  width: 17.5em;
  height: 26em;
  border-top-left-radius: 1.3em;
  border-top-right-radius: 1.3em;

  display: inline;
}

.title {
  display: block;

  margin-top: 1.2em;
  margin-bottom: 0.5em;
  padding: 0 0.3em;

  text-align: center;
}

.title {
  font-size: 1.7em;
}

@media only screen and (max-width: 970px) {
  .trend {
    height: 22em;
  }

  .poster {
    width: 10.5em;
    height: 15em;
  }

  .title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0 0.3em;

    text-align: center;
    font-size: 1.2em;
  }
}
