<div id="search">
  <h1 id="title">Movie Database</h1>
  <form id="searchForm" (submit)="search(query.value)">
    <input
      type="text"
      id="searchInput"
      placeholder="Search for a movie or TV show."
      #query
      (keyup)="search(query.value)"
    />
  </form>

  <div id="searchResultsContent">
    <div *ngFor="let result of results; index as order" class="result">
      <span class="order">{{ order + 1 }}.</span>
      <img [src]="result.poster" alt="poster" class="poster" />
      <span
        class="title"
        (click)="switchToTheMoviePage(result.id, result.media_type)"
        >{{ result.title }}</span
      >
    </div>
  </div>
</div>
